##### Produce driver standings

In [16]:
from pandas import read_csv
from lib import configuration

In [17]:
race_results_df = read_csv(f'{configuration.gold_folder_path}/race_results.csv')
#race_results_df = race_results_df[(race_results_df['race_year'].isin([2015,2016]))]
race_results_df

,grid,position,points,race_name,race_date,race_year,circuit_name,circuit_location,driver_number,driver_name,driver_nationality,team,constructor_nationality,created_date
0,17,27,0.0,Indianapolis 500,1950-05-30 06:00:00,1950,Indianapolis Motor Speedway,Indianapolis,999,Bill Cantrell,American,Adams,American,2024-06-12
1,17,27,0.0,Indianapolis 500,1950-05-30 06:00:00,1950,Indianapolis Motor Speedway,Indianapolis,999,Bayliss Levrett,American,Adams,American,2024-06-12
2,30,29,0.0,German Grand Prix,1953-08-02 06:00:00,1953,Nürburgring,Nürburg,999,Günther Bechem,German,AFM,German,2024-06-12
3,21,27,0.0,German Grand Prix,1953-08-02 06:00:00,1953,Nürburgring,Nürburg,999,Theo Fitzau,East German,AFM,German,2024-06-12
4,9,14,0.0,German Grand Prix,1952-08-03 06:00:00,1952,Nürburgring,Nürburg,999,Willi Heeks,German,AFM,German,2024-06-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26454,0,36,0.0,Italian Grand Prix,1989-09-10 06:00:00,1989,Autodromo Nazionale di Monza,Monza,999,Aguri Suzuki,Japanese,Zakspeed,German,2024-06-12
26455,0,37,0.0,Portuguese Grand Prix,1989-09-24 06:00:00,1989,Autódromo do Estoril,Estoril,999,Aguri Suzuki,Japanese,Zakspeed,German,2024-06-12
26456,0,34,0.0,Spanish Grand Prix,1989-10-01 06:00:00,1989,Circuito de Jerez,Jerez de la Frontera,999,Aguri Suzuki,Japanese,Zakspeed,German,2024-06-12
26457,0,34,0.0,Japanese Grand Prix,1989-10-22 06:00:00,1989,Suzuka Circuit,Suzuka,999,Aguri Suzuki,Japanese,Zakspeed,German,2024-06-12
26458,0,36,0.0,Australian Grand Prix,1989-11-05 06:00:00,1989,Adelaide Street Circuit,Adelaide,999,Aguri Suzuki,Japanese,Zakspeed,German,2024-06-12

In [18]:
wins_df = race_results_df[(race_results_df['position']=='1')]
wins_df['position'] = (wins_df['position']).astype(int)
wins_df

Empty DataFrame
Columns: [grid, position, points, race_name, race_date, race_year, circuit_name, circuit_location, driver_number, driver_name, driver_nationality, team, constructor_nationality, created_date]
Index: []

In [19]:
aggs = {
    'position':'sum'
}

wins_df = wins_df.groupby(["race_year", "driver_name"]).agg(aggs).reset_index()
wins_df = wins_df.rename(columns={"position":"wins"})
wins_df.sort_values('wins', ascending=False)

Empty DataFrame
Columns: [race_year, driver_name, wins]
Index: []

In [20]:
aggs = {
    'points':'sum'
}

driver_standings_df = race_results_df.groupby(["race_year", "driver_name", "driver_nationality", "team"]).agg(aggs).reset_index()
driver_standings_df.sort_values('points', ascending=False)

,race_year,driver_name,driver_nationality,team,points
3520,2023,Max Verstappen,Dutch,Red Bull,530.0
3496,2022,Max Verstappen,Dutch,Red Bull,433.0
3429,2019,Lewis Hamilton,British,Mercedes,413.0
3406,2018,Lewis Hamilton,British,Mercedes,408.0
3296,2013,Sebastian Vettel,German,Red Bull,397.0
...,...,...,...,...,...
1298,1963,Roberto Lippi,Italian,De Tomaso-Ferrari,0.0
2203,1980,Jan Lammers,Dutch,Ensign,0.0
2202,1980,Jan Lammers,Dutch,ATS,0.0
559,1955,Johnnie Parsons,American,Kurtis Kraft,0.0
770,1957,Roy Salvadori,British,BRM,0.0

In [21]:
# Left Outer Join
driver_standings_df = driver_standings_df.set_index(["driver_name","race_year"]).join(wins_df.set_index(["driver_name","race_year"]), rsuffix='_win', how='left').reset_index()
driver_standings_df = driver_standings_df[["race_year", "driver_name", "driver_nationality", "team", "points", "wins"]]
driver_standings_df.sort_values('points', ascending=False)

,race_year,driver_name,driver_nationality,team,points,wins
3520,2023,Max Verstappen,Dutch,Red Bull,530.0,NaN
3496,2022,Max Verstappen,Dutch,Red Bull,433.0,NaN
3429,2019,Lewis Hamilton,British,Mercedes,413.0,NaN
3406,2018,Lewis Hamilton,British,Mercedes,408.0,NaN
3296,2013,Sebastian Vettel,German,Red Bull,397.0,NaN
...,...,...,...,...,...,...
1298,1963,Roberto Lippi,Italian,De Tomaso-Ferrari,0.0,NaN
2203,1980,Jan Lammers,Dutch,Ensign,0.0,NaN
2202,1980,Jan Lammers,Dutch,ATS,0.0,NaN
559,1955,Johnnie Parsons,American,Kurtis Kraft,0.0,NaN
770,1957,Roy Salvadori,British,BRM,0.0,NaN

In [22]:
driver_standings_df['rank'] = driver_standings_df.groupby('race_year')['points'].rank(ascending=False)
driver_standings_df.sort_values('rank', ascending=True)

,race_year,driver_name,driver_nationality,team,points,wins,rank
2166,1979,Jody Scheckter,South African,Ferrari,60.0,NaN,1.0
3159,2008,Lewis Hamilton,British,McLaren,98.0,NaN,1.0
2632,1991,Ayrton Senna,Brazilian,McLaren,96.0,NaN,1.0
1981,1976,James Hunt,British,McLaren,69.0,NaN,1.0
3133,2007,Kimi Räikkönen,Finnish,Ferrari,110.0,NaN,1.0
...,...,...,...,...,...,...,...
257,1952,Peter Whitehead,British,Ferrari,0.0,NaN,69.5
258,1952,Philippe Étancelin,French,Maserati,0.0,NaN,69.5
259,1952,Piero Carini,Italian,Ferrari,0.0,NaN,69.5
246,1952,Maurice Trintignant,French,Gordini,0.0,NaN,69.5
262,1952,Prince Bira,Thai,Gordini,0.0,NaN,69.5

In [23]:
driver_standings_df.to_csv(f"{configuration.gold_folder_path}/driver_standings.csv", index=False)

In [24]:
df_parquet = read_csv(f'{configuration.gold_folder_path}/driver_standings.csv')
df_parquet

,race_year,driver_name,driver_nationality,team,points,wins,rank
0,1950,Alberto Ascari,Italian,Ferrari,11.0,NaN,5.0
1,1950,Alfredo Pián,Argentine,Maserati,0.0,NaN,54.5
2,1950,Bayliss Levrett,American,Adams,0.0,NaN,54.5
3,1950,Bill Cantrell,American,Adams,0.0,NaN,54.5
4,1950,Bill Holland,American,Deidt,6.0,NaN,7.0
...,...,...,...,...,...,...,...
3544,2024,Oscar Piastri,Australian,McLaren,76.0,NaN,6.0
3545,2024,Pierre Gasly,French,Alpine F1 Team,3.0,NaN,15.0
3546,2024,Sergio Pérez,Mexican,Red Bull,95.0,NaN,5.0
3547,2024,Valtteri Bottas,Finnish,Sauber,0.0,NaN,20.0
3548,2024,Yuki Tsunoda,Japanese,RB F1 Team,18.0,NaN,10.0