##### Produce driver standings

In [18]:
from pandas import read_csv
from lib import configuration

In [19]:
race_results_df = read_csv(f'{configuration.gold_folder_path}/race_results.csv')
#race_results_df = race_results_df[(race_results_df['race_year'].isin([2020]))]
race_results_df

,grid,position,points,race_name,race_date,race_year,circuit_name,circuit_location,driver_number,driver_name,driver_nationality,team,constructor_nationality,created_date
0,17,27,0.0,Indianapolis 500,1950-05-30 06:00:00,1950,Indianapolis Motor Speedway,Indianapolis,999,Bill Cantrell,American,Adams,American,2024-06-12
1,17,27,0.0,Indianapolis 500,1950-05-30 06:00:00,1950,Indianapolis Motor Speedway,Indianapolis,999,Bayliss Levrett,American,Adams,American,2024-06-12
2,30,29,0.0,German Grand Prix,1953-08-02 06:00:00,1953,Nürburgring,Nürburg,999,Günther Bechem,German,AFM,German,2024-06-12
3,21,27,0.0,German Grand Prix,1953-08-02 06:00:00,1953,Nürburgring,Nürburg,999,Theo Fitzau,East German,AFM,German,2024-06-12
4,9,14,0.0,German Grand Prix,1952-08-03 06:00:00,1952,Nürburgring,Nürburg,999,Willi Heeks,German,AFM,German,2024-06-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26454,0,36,0.0,Italian Grand Prix,1989-09-10 06:00:00,1989,Autodromo Nazionale di Monza,Monza,999,Aguri Suzuki,Japanese,Zakspeed,German,2024-06-12
26455,0,37,0.0,Portuguese Grand Prix,1989-09-24 06:00:00,1989,Autódromo do Estoril,Estoril,999,Aguri Suzuki,Japanese,Zakspeed,German,2024-06-12
26456,0,34,0.0,Spanish Grand Prix,1989-10-01 06:00:00,1989,Circuito de Jerez,Jerez de la Frontera,999,Aguri Suzuki,Japanese,Zakspeed,German,2024-06-12
26457,0,34,0.0,Japanese Grand Prix,1989-10-22 06:00:00,1989,Suzuka Circuit,Suzuka,999,Aguri Suzuki,Japanese,Zakspeed,German,2024-06-12
26458,0,36,0.0,Australian Grand Prix,1989-11-05 06:00:00,1989,Adelaide Street Circuit,Adelaide,999,Aguri Suzuki,Japanese,Zakspeed,German,2024-06-12

In [20]:
wins_df = race_results_df[(race_results_df['position']==1)]
#wins_df['position'] = (wins_df['position']).astype(int)
wins_df

,grid,position,points,race_name,race_date,race_year,circuit_name,circuit_location,driver_number,driver_name,driver_nationality,team,constructor_nationality,created_date
299,7,1,4.0,French Grand Prix,1951-07-01 06:00:00,1951,Reims-Gueux,Reims,999,Luigi Fagioli,Italian,Alfa Romeo,Swiss,2024-06-12
302,1,1,9.0,Monaco Grand Prix,1950-05-21 06:00:00,1950,Circuit de Monaco,Monte-Carlo,999,Juan Fangio,Argentine,Alfa Romeo,Swiss,2024-06-12
304,2,1,8.0,Belgian Grand Prix,1950-06-18 06:00:00,1950,Circuit de Spa-Francorchamps,Spa,999,Juan Fangio,Argentine,Alfa Romeo,Swiss,2024-06-12
305,1,1,9.0,French Grand Prix,1950-07-02 06:00:00,1950,Reims-Gueux,Reims,999,Juan Fangio,Argentine,Alfa Romeo,Swiss,2024-06-12
308,1,1,9.0,Swiss Grand Prix,1951-05-27 06:00:00,1951,Circuit Bremgarten,Bern,999,Juan Fangio,Argentine,Alfa Romeo,Swiss,2024-06-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26153,1,1,10.0,Austrian Grand Prix,1997-09-21 06:00:00,1997,Red Bull Ring,Spielberg,999,Jacques Villeneuve,Canadian,Williams,British,2024-06-12
26154,2,1,10.0,Luxembourg Grand Prix,1997-09-28 06:00:00,1997,Nürburgring,Nürburg,999,Jacques Villeneuve,Canadian,Williams,British,2024-06-12
26293,11,1,9.0,Argentine Grand Prix,1977-01-09 06:00:00,1977,Autódromo Juan y Oscar Gálvez,Buenos Aires,999,Jody Scheckter,South African,Wolf,Canadian,2024-06-12
26298,2,1,9.0,Monaco Grand Prix,1977-05-22 06:00:00,1977,Circuit de Monaco,Monte-Carlo,999,Jody Scheckter,South African,Wolf,Canadian,2024-06-12
26308,9,1,9.0,Canadian Grand Prix,1977-10-09 06:00:00,1977,Mosport International Raceway,Ontario,999,Jody Scheckter,South African,Wolf,Canadian,2024-06-12

In [21]:
aggs = {
    'position':'sum'
}

wins_df = wins_df.groupby(["race_year", "team"]).agg(aggs).reset_index()
wins_df = wins_df.rename(columns={"position":"wins"})
wins_df.sort_values('wins', ascending=False)

     race_year             team  wins
272       2023         Red Bull    21
249       2016         Mercedes    19
270       2022         Red Bull    17
245       2014         Mercedes    16
248       2015         Mercedes    16
..         ...              ...   ...
53        1966  Cooper-Maserati     1
158       1989         Benetton     1
55        1966        Lotus-BRM     1
156       1988          Ferrari     1
138       1983         Williams     1

[276 rows x 3 columns]

In [22]:
aggs = {
    'points':'sum'
}

constructor_standings_df = race_results_df.groupby(["race_year", "team"]).agg(aggs).reset_index()
constructor_standings_df.sort_values('points', ascending=False)

      race_year      team  points
1099       2023  Red Bull   790.0
1025       2016  Mercedes   765.0
1055       2019  Mercedes   739.0
1089       2022  Red Bull   724.0
1015       2015  Mercedes   703.0
...         ...       ...     ...
404        1972  Politoys     0.0
407        1972     Tecno     0.0
411        1973    Ensign     0.0
835        1999       BAR     0.0
0          1950     Adams     0.0

[1111 rows x 3 columns]

In [23]:
# Left Outer Join
constructor_standings_df = constructor_standings_df.set_index(["team","race_year"]).join(wins_df.set_index(["team","race_year"]), rsuffix='_win', how='left').reset_index()
constructor_standings_df = constructor_standings_df[["race_year", "team", "points", "wins"]]
constructor_standings_df.sort_values('points', ascending=False)

      race_year      team  points  wins
1099       2023  Red Bull   790.0  21.0
1025       2016  Mercedes   765.0  19.0
1055       2019  Mercedes   739.0  15.0
1089       2022  Red Bull   724.0  17.0
1015       2015  Mercedes   703.0  16.0
...         ...       ...     ...   ...
404        1972  Politoys     0.0   NaN
407        1972     Tecno     0.0   NaN
411        1973    Ensign     0.0   NaN
835        1999       BAR     0.0   NaN
0          1950     Adams     0.0   NaN

[1111 rows x 4 columns]

In [24]:
constructor_standings_df['rank'] = constructor_standings_df.groupby('race_year')['points'].rank(ascending=False)
constructor_standings_df.sort_values('rank', ascending=True)

      race_year        team  points  wins  rank
555        1980    Williams   120.0   6.0   1.0
848        2000     Ferrari   170.0  10.0   1.0
371        1969  Matra-Ford    85.0   6.0   1.0
377        1970     Ferrari    76.0   4.0   1.0
1025       2016    Mercedes   765.0  19.0   1.0
...         ...         ...     ...   ...   ...
72         1952      Watson     0.0   NaN  18.5
690        1989      Coloni     0.0   NaN  18.5
692        1989   Euro Brun     0.0   NaN  18.5
48         1952         AFM     0.0   NaN  18.5
57         1952         ERA     0.0   NaN  18.5

[1111 rows x 5 columns]

In [25]:
constructor_standings_df.to_csv(f"{configuration.gold_folder_path}/constructor_standings.csv", index=False)

In [26]:
df_parquet = read_csv(f'{configuration.gold_folder_path}/constructor_standings.csv')
df_parquet.sort_values('rank', ascending=True)

      race_year        team  points  wins  rank
555        1980    Williams   120.0   6.0   1.0
848        2000     Ferrari   170.0  10.0   1.0
371        1969  Matra-Ford    85.0   6.0   1.0
377        1970     Ferrari    76.0   4.0   1.0
1025       2016    Mercedes   765.0  19.0   1.0
...         ...         ...     ...   ...   ...
72         1952      Watson     0.0   NaN  18.5
690        1989      Coloni     0.0   NaN  18.5
692        1989   Euro Brun     0.0   NaN  18.5
48         1952         AFM     0.0   NaN  18.5
57         1952         ERA     0.0   NaN  18.5

[1111 rows x 5 columns]